.summary-viewer {
  .modal-body {
  
    .material-icons {
      display: none !important;
    }
    .footer-info {
      display: none !important;
    }

    #idOnHTML {
      display: none;
    }
  }
}
